section#block-menu-menu-lunch-dinner-before-after, section#block-block-1.our-details, section#block-user-login {
  margin-right: 50px;
  }
  
section#block-menu-menu-lunch-dinner-before-after ul.menu, section#block-block-1.our-details p, section#block-user-login {
  text-align: right;
  font-size: 1.4em;
  font-family: 'vinyl';
  text-transform: uppercase;
  } 

.front section#block-menu-menu-lunch-dinner-before-after ul.menu li a, .front section#block-block-1.our-details p {
  color: #fff !important;
  }

.front section#block-menu-menu-lunch-dinner-before-after ul.menu li a:hover {
  color: #E8CF19 !important;
  }
  
.view-sidebar-images .ia-n .field-type-image figure {
  padding: 0;
  }
  
section#block-block-17 h2.block-title {
  font-size: 2em;
  text-align: center;  
  margin-bottom: 25px;
  border-bottom: 5px solid #fff;
  color: #fff;
  padding-bottom: 10px;
  text-shadow: 1px 1px 1px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);  
  }     
        
section#block-menu-menu-lunch-dinner-before-after h2.block-title, section#block-block-1.our-details h2.block-title, section#block-user-login h2.block-title {
  font-size: 2em;
  text-align: right;  
  margin-bottom: 25px;
  border-bottom: 5px solid #2c2c2c;
  padding-bottom: 10px;
  }  

section#block-menu-menu-lunch-dinner-before-after h2.block-title, section#block-block-1.our-details h2.block-title {
  font-size: 2em;
  text-align: right;  
  margin-bottom: 25px;
  border-bottom: 5px solid #2c2c2c;
  padding-bottom: 10px;
  }  

.front section#block-menu-menu-lunch-dinner-before-after h2.block-title, .front section#block-block-1.our-details h2.block-title { 
  border-bottom: 5px solid #fff;
  color: #fff !important;
  text-align: right;  
  } 

#user-login-form .form-submit {
  font-family: 'jaf-facitweb';
  padding: 5px 15px;
  font-style: italic;
  font-size: .8em;
  }

#user-login-form input.form-text, textarea {
  max-width:100%;
  padding: 4px 8px;
}
     
section#block-menu-menu-lunch-dinner-before-after ul.menu {
  line-height: 1.8em;
  }
  
section#block-block-1.our-details p {
  line-height: 1.5em;
  margin-bottom: 25px !important;
  }
  
.field-name-field-price-small, .field-name-field-price-large, .field-name-field-price-x-large {
  font-size: 1.1em;
  }
  
i.head-icons.last-icon {
  display: none !important;
  }
  
.menu-block-1, .menu-block-2 {
  border-right: 1px dotted #fff;
  }