.field-name-field-price-small, .field-name-field-price-large, .field-name-field-price-x-large { font-family: 'jaf-facitweb'; font-style: normal; font-weight: 700; }
h1, h2, h3, h4, h5, h6, #page-title { font-family: 'vinyl'; font-style: normal; font-weight: 400; }
