/* Commerce Colors */

html {
  background: #ffffff;
}
body {
  color: #555555;
}

/* Links */
a:link,
a:visited,
a:active,
a.active,
li a.active {
  color: #00a0b0;
}
a:hover,
a:focus {
  color: #2c2c2c;
}

/* Main wrappers */
div#page {
  background-color: #ffffff;
}
#header-wrapper {
  background-color: #000000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#2c2c2c));
  background-image: -moz-linear-gradient(-90deg, #000000, #2c2c2c);
  background-image: linear-gradient(-90deg, #000000, #2c2c2c);
  -ms-filter: "progid:dXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr='#000000', endcolorstr='#2c2c2c')";
  filter: progid:dXImageTransform.Microsoft.gradient(enabled='true',startcolorstr=#000000,endcolorstr=#2c2c2c,GradientType=0);
}
#secondary-content-wrapper {
  background-color: #afc46a;
  color: #414141;
}
#secondary-content-wrapper a {
  color: #101010;
}
#secondary-content-wrapper .texture-overlay {
  border-bottom: 1px solid #ffffff;
}
#content-wrapper {
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
}
#quint-panels-wrapper {
  background-color: #fffff0;
  color: #454545;
  border-top: 1px solid #ffffff;
}
#quint-panels-wrapper a {
  color: #ee6630;
}
#page-footer{
  background-color: #101404;
}
#footer-panels-wrapper {
  color: #2c2c2c;
  border-bottom: 1px solid #ffffff;
}
#footer-panels-wrapper h1,
#footer-panels-wrapper h2,
#footer-panels-wrapper h3,
#footer-panels-wrapper .title,
#footer-panels-wrapper a,
#footer-panels-wrapper a:link,
#footer-panels-wrapper a:hover,
#footer-panels-wrapper a:focus {
  color: #fffff0;
}
#footer-wrapper {
  border-top: 1px solid #555555;
  background: #ffffff;
}

/* Draw */
#draw-wrapper {
  background: #51611e;
  color: #fffff0;
}
#draw-wrapper h1,
#draw-wrapper h2,
#draw-wrapper h3,
#draw-wrapper .title,
#draw-wrapper a,
#draw-wrapper a:link,
#draw-wrapper a:hover,
#draw-wrapper a:focus {
  color: #fffff0;
}
#toggle-wrapper {
  border-top: 4px solid #51611e;
  background: transparent; /* transparent to show header gradient or image */
  color: #fffff0;
}
#toggle-wrapper a {
  background: #51611e;
  color: #fffff0;
}

/* Header */
#site-name a {
  color: #ffffff;
}
#site-slogan {
  color: #333333;
}

/* Titles */
h1, h2, h3, .title {
  color: #2c2c2c;
}

/* Menu bar */
#menu-bar {
  background: #51611e;
}
.nav .block-menu ul li a {
  color: #fffff0;
}
.nav .block-menu ul li:hover,
.nav .block-menu ul li.focus,
.nav .block-menu ul a:focus,
.nav .block-menu ul a:hover,
.nav .block-menu ul a:active,
.nav .block-menu ul a:visited {
  color: #fffff0;
  background: #3c4816;
}
.nav .block-menu ul ul {
  background: #51611e;
  opacity: 0.95;
  filter: alpha(opacity = 95);
  margin-left: 0;
}

/* Superfish Skin - we keep the Superfish skin seperate so we can special case
   if we really need to */
.sf-menu.sf-style-default a {
  border: 0;
}
.sf-menu.sf-style-default a,
.sf-menu.sf-style-default a:visited  {
  color: #fffff0;
}
.sf-menu.sf-style-default span.sf-description {
  color: #ffffed;
}
.sf-menu.sf-style-default li li,
.sf-menu.sf-style-default.sf-navbar li ul {
  background-color: #3c4816;
}
.sf-menu.sf-style-default li li li {
  background-color: #3c4816;
}
.sf-menu.sf-style-default li:hover,
.sf-menu.sf-style-default li.sfHover,
.sf-menu.sf-style-default a:focus,
.sf-menu.sf-style-default a:hover,
.sf-menu.sf-style-default a:active {
  background-color: #3c4816;
}
.sf-menu.sf-style-default li,
.sf-menu.sf-style-default.sf-navbar,
.sf-menu.sf-style-default ul li:hover,
.sf-menu.sf-style-default ul li.sfHover,
.sf-menu.sf-style-default ul a:focus,
.sf-menu.sf-style-default ul a:hover,
.sf-menu.sf-style-default ul a:active {
  background-color: #51611e;
}
.sf-menu.sf-style-default.sf-navbar li ul li ul {
  background-color: transparent;
}

/* nodes */
.node-teaser.node-sticky {
 background: #f9f9f9;
}
node header {
 border-bottom: 1px solid #727216d5;
}

/* Blocks */
#block-system-main {
  border-bottom: none;
}

/* Profile */
.profile h3 {
    border-bottom: 1px solid #555555;
}

/* Local task tabs */
ul.primary {
  border-bottom: 1px solid #555555;
}
ul.primary li a,
ul.primary li a:hover {
  background: transparent;
}
ul.primary li a:hover,
ul.primary li a:focus,
ul.primary li a.active,
ul.primary li.active a,
ul.primary li a.active:hover,
ul.primary li a.active:focus {
  background: transparent;
  color: #555555;
}

/* Tables */
tr.even {}
tbody tr:nth-child(2n+1),
tr.odd {}
td, th {
 border-color: #555555;
}
tr.even, tr.odd {
  border-bottom: 1px solid #555555;
}
tbody {
  border-top: 1px solid #555555;
}

/* Forms */
input.form-text,
textarea,
select {
  border: 1px solid #555555;
  background-color: rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}
input.form-text:focus,
textarea:focus,
select:focus {
  border-color: #000000;
  outline: 0;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px #000000;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px #000000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px #000000;
}
fieldset {
  border-color: #555555;
}
input[type="submit"] {
  border: 1px solid #e7e7e7;
  color: #272727;
  background-color: #e7e7e7;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7e7e7), to(#efefef));
  background-image: -moz-linear-gradient(-90deg, #e7e7e7, #efefef);
  background-image: linear-gradient(-90deg, #e7e7e7, #efefef);
  -ms-filter: "progid:dXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr='#e7e7e7', endcolorstr='#efefef')";
  filter: progid:dXImageTransform.Microsoft.gradient(enabled='true',startcolorstr=#e7e7e7,endcolorstr=#efefef,GradientType=0);

}
form.commerce-add-to-cart input,
.add-to-cart #edit-actions input,
input#edit-checkout,
input#edit-continue,
input.node-add-to-cart,
input.list-add-to-cart {
  border: 1px solid #007100;
  color: #ffffff;
  background-color: #007100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#007100), to(#588e51));
  background-image: -moz-linear-gradient(-90deg, #007100, #588e51);
  background-image: linear-gradient(-90deg, #007100, #588e51);
  -ms-filter: "progid:dXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr='#007100', endcolorstr='#588e51')";
  filter: progid:dXImageTransform.Microsoft.gradient(enabled='true',startcolorstr=#007100,endcolorstr=#588e51,GradientType=0);
}

/* Content Display Grid */
.content-display-grid node .node-inner {
  border: 5px solid #ffffff;
}
.content-display-grid node .node-inner:hover {
  border-width: 5px;
  border-style: solid;
  border-color: #555555;
}

/* Search */
#search-block-form input.form-text,
#search-block-form input::-webkit-input-placeholder,
#search-block-form input:-moz-placeholder {
  color: #454545;
}

/* Calendar module */
.calendar-calendar div.date-nav {
  background-color: transparent;
  color: #a91a00;
}
.calendar-calendar div.date-nav a,
.calendar-calendar div.date-nav h3 {
  color: #ba0000;
}
.calendar-calendar td {
  color: #0f0f0f;
}
.calendar-calendar th {
  background-color: #ffffff;
  color: #a91a00;
  border: 1px solid #555555;
}
.calendar-calendar th.days {
  background-color: #ffffff;
  color: #555555;
}
.calendar-calendar td .inner div.calendar div,
.calendar-calendar td .inner div.calendar div a,
.calendar-calendar td .inner div,
.calendar-calendar td .inner div a {
  background-color: #fcfdfe;
}
.calendar-calendar tr td.today,
.calendar-calendar tr.odd td.today,
.calendar-calendar tr.even td.today {
  background-color: #ffffff;
}
.calendar-calendar td.calendar-agenda-hour,
.calendar-calendar td.calendar-agenda-items,
.calendar-calendar td.calendar-agenda-hour {
  border-color: #555555;
}
.view-content .calendar-calendar ul.inline li {
  border: 1px solid #555555;
}
#content .block .calendar-calendar .month-view table {
  border: 1px solid #555555;
}

/* Quicktabs */
.quicktabs-style-nostyle ul.quicktabs-tabs li a {}
.quicktabs-style-nostyle ul.quicktabs-tabs li a:hover,
.quicktabs-style-nostyle ul.quicktabs-tabs li a:focus,
.quicktabs-style-nostyle ul.quicktabs-tabs li.active a {}
